name: Create release and Publish to DockerHub

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/graalvm-build-cli.yml

  publish-docker:
    name: Publish Docker image to Docker Hub
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Download Linux x86_64 Artifact
        uses: actions/download-artifact@v5
        with:
          name: logchange-linuxx64
          path: .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: logchange/logchange
          tags: |
            type=edge,branch=main
            type=ref,event=tag

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: run structure tests
        uses: plexsystems/container-structure-test-action@v0.3.0
        if: github.ref == 'refs/heads/main' # test only on main
        with:
          image: logchange/logchange:edge
          config: docker-test.yml

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: logchange/logchange

  create-release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download logchange binaries artifact - linuxx64
        uses: actions/download-artifact@v5
        with:
          path: ./bins

      - name: Package artifacts
        run: for d in ./bins/*/; do zip -r "./bins/$(basename "$d").zip" "$d"; done

      - name: List artifacts
        run: |
          tree ./bins

      - name: Test files (if version-summary.md exists)
        run: ls -l && ls -l ./changelog && echo "v${GITHUB_REF/refs\/tags\//}" && ls -l ./changelog/v${GITHUB_REF/refs\/tags\//}

      - name: Check if file exists
        run: echo $GITHUB_WORKSPACE/changelog/v${GITHUB_REF/refs\/tags\//}/version-summary.md

      - name: Set RELEASE_BODY_FILE env
        run: echo "RELEASE_BODY_FILE=$(echo $GITHUB_WORKSPACE/changelog/v${GITHUB_REF/refs\/tags\//}/version-summary.md)" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          #  when tag has 'v' in name no need of adding it before ${GITHUB_REF/refs\/tags\//
          body_path: ${{ env.RELEASE_BODY_FILE }}
          # upload-artifact and then download creates files like this:
          # ./bins/logchange-linuxx64/logchange
          # then we zip it to make it smaller
          # https://github.com/softprops/action-gh-release/issues/342
          files: |
            ./bins/*.zip
        env:
          # Cannot use GITHUB_TOKEN because of:
          # https://github.com/orgs/community/discussions/27028
          GITHUB_TOKEN: ${{ secrets.LOGCHANGE_PAT_TOKEN }}
