name: Update Docker Hub Description

on: [push, pull_request]

jobs:
  update_dockerhub_description:
    name: Update Docker Hub Description
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: logchange/logchange