name: Publish to DockerHub
permissions:
  contents: read

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/graalvm-build-cli.yml

  publish-docker:
    name: Publish Docker image to Docker Hub
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Download Linux x86_64 Artifact
        uses: actions/download-artifact@v6
        with:
          name: logchange-linuxx64
          path: .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: logchange/logchange
          tags: |
            type=edge,branch=main
            type=ref,event=tag

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: run structure tests
        uses: plexsystems/container-structure-test-action@v0.3.0
        if: github.ref == 'refs/heads/main' # test only on main
        with:
          image: logchange/logchange:edge
          config: docker-test.yml

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: logchange/logchange

  update-release:
    name: Update Release With logchange-cli binaries
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download logchange binaries artifact
        uses: actions/download-artifact@v6
        with:
          path: ./bins

      - name: Package artifacts
        run: for d in ./bins/*/; do zip -r "./bins/$(basename "$d").zip" "$d"; done

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          # https://github.com/softprops/action-gh-release/issues/342
          files: |
            ./bins/*.zip
        env:
          # Cannot use GITHUB_TOKEN because of:
          # https://github.com/orgs/community/discussions/27028
          GITHUB_TOKEN: ${{ secrets.LOGCHANGE_PAT_TOKEN }}

  update-distributions:
    name: Update homebrew tap formula
    needs: update-release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download .zip assets from latest release
        run: |
          gh release download --pattern "*.zip" --dir ./bins
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update distributions
        uses: jreleaser/release-action@v2
        env:
          JRELEASER_PROJECT_VERSION: ${{ github.ref_name }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_HOMEBREW_GITHUB_TOKEN: ${{ secrets.LOGCHANGE_PAT_TOKEN }}