name: CLI Build with GraalVM Native Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  build:
    name: Build CLI on ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - name: "Linux x86_64"
            base: linux
            runs-on: ubuntu-24.04
            platform: linuxx64

          # Error: Unable to detect supported LINUX native software development toolchain.
          # Querying with command '/opt/hostedtoolcache/musl-toolchain/1.2.5-oracle-00001/arm64/bin/x86_64-linux-musl-gcc -v' prints:
          # [1/8] Initializing...                                                                                    (0.0s @ 0.11GB)
          #  /opt/hostedtoolcache/musl-toolchain/1.2.5-oracle-00001/arm64/bin/x86_64-linux-musl-gcc: 1: Syntax error: ")" unexpected
          # Error: To prevent native-toolchain checking provide command-line option -H:-CheckToolchain
          # https://github.com/logchange/logchange/actions/runs/19491520332/job/55784477671
          #- name: "Linux ARM64"
          #  base: linux
          #  runs-on: ubuntu-24.04-arm
          #  platform: linuxarm64

          - name: "macOS x86_64"
            base: macos
            runs-on: macos-15-intel
            platform: darwinx64

          - name: "macOS ARM64"
            base: macos
            runs-on: macos-latest
            platform: darwinarm64

          - name: "Windows x86_64"
            base: windows
            runs-on: windows-2022
            platform: windowsx64
    steps:
      - uses: actions/checkout@v6

      # musl is only available on linux
      - if: ${{ matrix.base == 'linux' }}
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-musl: 'true'
      - if: ${{ matrix.base != 'linux' }}
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'

      - name: Check environment
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version
          uname -s
          uname -m

      # musl is only available on linux
      - if: ${{ matrix.base == 'linux' }}
        name: Build CLI executable (static)
        run: mvn -Pnative-static package -DskipTests

      - if: ${{ matrix.base != 'linux' }}
        name: Build CLI executable (non-static)
        run: mvn -Pnative package -DskipTests

      - name: Upload binaries
        uses: actions/upload-artifact@v5
        with:
          name: logchange-${{ matrix.platform }}
          path: |
            logchange-cli/target/logchange*
            !logchange-cli/target/logchange*.jar
