name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v43.0.14
        with:
          token: ${{ secrets.LOGCHANGE_PAT_TOKEN }}
          configurationFile: .github/renovate-config.js
          renovate-version: full
        env:
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: ".*"
          LOG_LEVEL: debug


