name: Valhalla Release

on:
  push:
    branches:
      - 'release-*'

  workflow_dispatch: {}

jobs:
  valhalla_release:
    if: (startsWith(github.ref_name, 'release-')) && !contains(github.event.head_commit.message, 'VALHALLA SKIP')
    runs-on: ubuntu-latest

    container:
      image: logchange/valhalla:1.9.3

    permissions:
      contents: write
      pull-requests: write

    env:
      VALHALLA_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # to fetch all history for all branches and tags
      - name: Run Valhalla Release
        #  git config fix problem with: detected dubious ownership in repository
        #  https://medium.com/@janloo/github-actions-detected-dubious-ownership-in-repository-at-github-workspace-how-to-fix-b9cc127d4c04
        run: |
          git config --global --add safe.directory $PWD 
          valhalla
